name: Basic CI

on:
 push:
  branches: [ develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run build
        run : echo "CI is running"
        